# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore
# Ignore everything
*
# But not these files...
!/.gitignore
!/.dockerignore
!*.gitkeep
!*.go
!*.vue
!*.ts
!*.css
!*.svg
!*.html
!.air.toml
!package.json
!pnpm-lock.yaml
!go.mod
!go.sum
!Makefile
!README.md
!Dockerfile
!docker-compose.yml
!start-dev.sh
# ...even if they are in subdirectories
!*/
ui/node_modules/*