services:
  portfolio:
    container_name: portfolio
    # user: "${UID}:${GID}"
    networks:
      - portfolio
    # command: ["./start-dev.sh"]
    # command: sh -c "./start-dev.sh"
    build:
      context: .
      dockerfile: ./Dockerfile
      target: development
      args:
        - TZ=${PORTFOLIO_TZ}
        - UID=${UID}
        - GID=${GID}
    environment:
      DEBUG: ${DEBUG}
      GO_ENV: ${GO_ENV}
      LOG_LEVEL: ${PORTFOLIO_LOG_LEVEL}
      PORTFOLIO_ENV_FILE: "/portfolio/.env.dev"
      TZ: ${PORTFOLIO_TZ}
    volumes:
      - .:/portfolio
      - ui_node_modules:/portfolio/ui/node_modules
      - ui_pnpm_store:/portfolio/ui/.pnpm-store
      - go_build:/home/app/.cache/go-build
    ports:
      - "5173:5173"
      - "3000:3000"
networks:
  portfolio:

volumes:
  ui_node_modules:
  ui_pnpm_store:
  go_build: