# air.toml

# Racine du backend Go
root = "."
tmp_dir = "tmp"

[build]
# Commande de build : build du projet principal
cmd = "go build -o ./tmp/main ./cmd/api/main.go"
# Fichier binaire généré
bin = "tmp/main"
# Extensions à surveiller
include_ext = ["go", "tpl", "tmpl", "html", "json", "yaml", "yml", "css", "js"]
# Dossiers à ignorer (ajoute /app/web ou autres dossiers front si besoin)
exclude_dir = [
  "logs",
  "assets",
  "tmp",
  "build",
  "vendor",
  "web",
  "node_modules",
  "frontend",
  ".git"
]
# Fichiers à ignorer
exclude_file = [
  "docs/docs.go",
  "docs/private_swagger.json",
  "docs/private_swagger.yaml",
  "docs/swagger.json",
  "docs/swagger.yaml",
]
# Exclure les fichiers de test (optionnel)
exclude_regex = ["_test.go"]
exclude_unchanged = true
follow_symlink = true
log = "air.log"
delay = 500 # ms, pour un reload plus réactif en dev
stop_on_error = true
send_interrupt = false
kill_delay = 300
pre_cmd = [
  "swag init -g cmd/api/main.go --overridesFile docs/.swaggo --markdownFiles docs/markdown/ --instanceName private --outputTypes json --quiet",
  "swag init -g cmd/api/main.go --overridesFile docs/.swaggo --markdownFiles docs/markdown/ --exclude api/http/handlers/admin --outputTypes json --quiet",
  "GOFLAGS='-buildvcs=false' golangci-lint run ./...",
  "go vet ./..."
]
[log]
time = true

[color]
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"

[misc]
clean_on_exit = true
